<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<!--<p *ngIf="!forecasts"><em>Loading...</em></p>-->
<form #myForm="ngForm" (ngSubmit)="onClickSubmit(myForm.value)">
  <p><label>Location</label><input type="text" name="locationName" placeholder="locationName" ngModel></p> 
  <p><label>Show Temp in Celcius (True/False)</label><input type="text" name="tempInCelcius" placeholder="tempInCelcius" ngModel></p>
  <p><label>Include Astronomy (True/False)</label> <input type="text" name="includeAstronomy" placeholder="includeAstronomy" ngModel></p>
  <input type="submit" value="Submit">
</form>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>City</th>
      <th>Region</th>
      <th>Country</th>
      <th>Local Time</th>
      <th>Temperature</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ forecast.currentForecastSummary.city }}</td>
      <td>{{ forecast.currentForecastSummary.region }}</td>
      <td>{{ forecast.currentForecastSummary.country }}</td>
      <td>{{ forecast.currentForecastSummary.localTime }}</td>
      <td>{{ forecast.currentForecastSummary.temperature }}</td>
    </tr>
  </tbody>
</table>
